.clearfix:after {
     clear: both;
     content: ".";
     display: block;
     height: 0px;
     line-height: 0;
     visibility: hidden;
}

html[xmlns] .clearfix {
     display: block;
}

* html .clearfix {
     height: 1%;
}
body{
	background-image: url(../images/debut_dark.png);
	background-repeat: repeat;	
	font-family: Arial;
}
p{
	text-indent: 50px;	
}
h1 {
	font-size: 2em;
	margin-top: 0.3em;
	margin-right: 0px;
	margin-bottom: 0.3em;
	margin-left: 0px;
}

h2 {
     font-size: 1.5em;
     /*margin: 0.83em 0px;*/
}

h3 {
     font-size: 1.17em;
     /*margin: 1em 0px;*/
}

h4 {
     font-size: 1em;
     /*margin: 1.33em 0px;*/
}

h5 {
     font-size: 0.83em;
    /* margin: 1.67em 0px;*/
}

h6 {
     font-size: 0.75em;
    /* margin: 2.33em 0px;*/
}
.bold{
	font-weight: bold;
}
.center{
	text-align: justify;	
}
.left {
	float: left;
}
.right {
	float: right;
}
.red{
	color:#DD2A2A;	
}
.highlight{
	background-color: #eb1f2a;
	padding: 5px;
	color: #FFF;		
}
.indent{
	text-indent: 20px;
}

.space {
	margin-top: 30px;
}

.home-title {
	color: #1d66b1;
	text-indent: 20px;
	text-transform: uppercase;
	margin-top:30px;
}
.title {
	color: #1d66b1;
	text-indent: 20px;
	margin-top:25px;
}
.content-title {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #3A3A3A;
	font-size: 1.2em;
	font-weight:bold;
}

.active-title {
	color: #1d66b1;
}
.push{
	left:30px;
}
#wrap-header {
	height: 90px;
	width: 100%;
	background-color: #F7F7F7;
	padding-top: 0px;
}
#header {
	margin-top: 10px;
	padding-left:18px;
}
#header-tel ul {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-top: 30px;
	background-image: url(../images/icon-phone.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

#header-tel ul li {
	display: inline-block;
	height: 20px;
	padding-top: 12px;
}
#address h5 {
	background-image: url(../images/icon-phone.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	margin-top: 15px;
}
#home img {
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
   	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}
#header img {
	margin-top: 10px;
	margin-right: 0;
	margin-left: 0;
	
}
#wrap-pic img{
	z-index:99999;
}

/***End Nav bar***/
.btn-product {
	display: inline-block;
	white-space: nowrap;
	nowhitespace: afterproperty;
	text-align: center;
	outline: none;
	text-decoration: none !important;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	opacity: 0.9;
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
}
.btn-product span.btn-product-title {
	color: #FFF;/*#f8f8f8*/
	display: block;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	letter-spacing: 2px;
	font-size: 12px !important;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}



.btn-blue {
	background-color: #100b4e;
}
.btn-black {
	background-color: #333332;
}
#safetysigns {
	position: absolute;
	z-index: 99999;
	left: 215px;
	top: 400px;
}
#label {
	position: absolute;
	left: 490px;
	top: 220px;
}
#lockout {
	position: absolute;
	z-index: 99999;
	left: 830px;
	top: 400px;
}
#electrical {
	position: absolute;
	z-index: 99999;
	left: 950px;
	top: 250px;
}
#content-intro{
	margin-bottom: 70px;
	/*text-indent: 20px;*/
	margin-left: 40px;
}
#content-intro p {
	font-size: 1.2em;
	line-height: 1.8em;
	padding-left:20px;
	padding-right:40px;
}
.wrap-pic {
	margin-bottom: 20px;
}


/* Image Box Style */
#mainwrapper{
	margin-top:20px;
}
#mainwrapper .box {
	border: 5px solid #fff;
	/*cursor: pointer;*/
	height: 163px;
	float: left;
	margin: 5px;
	position: relative;
	overflow: hidden;
	width: 177px;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px 1px #ccc;
	margin-bottom:20px;
}
#mainwrapper .box img {
	position: absolute;
	left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

/* Caption Common Style */
#mainwrapper .box .caption {
	background-color: rgba(42,42,43,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
	left: 0;
}
.caption a{
	text-align:center;
	padding-top:0px;
	color:#FFF;
	text-decoration:none;
}

/** Caption 1: Simple **/
#mainwrapper .box .simple-caption {
	height: 40px;
	width: 177px;
	display: block;
	bottom: -40px;
	line-height: 25pt;
	/*text-align:center;*/
	
}
/** Simple Caption :hover Behaviour **/
#mainwrapper .box:hover .simple-caption {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(-100%);
	color:#FFF;
}
#product-name h5{
	text-align:center;
	font-weight:bold;
}
#wrap-footer {
}

#footer {
	color: #FFF;
	background-color: #383636;
	height: 140px;
	padding-top: 30px;
}
#content-intro #news  {
	font-size: 1.1em;
	line-height: 1.9em;
}
#wrap-content {
	background-color: #F7F7F7;
	margin-top:-10px;
	padding-bottom:60px;
}
#wrap-content-notoppic{
	background-color: #F7F7F7;
	padding-top:50px;
}
#wrap-footer #footer  h3 {
	line-height: 0.5em;
	font-weight: 600;
	color: #FFF;
}
#footer-info {
	margin-top: -10px;
	font-size:0.95em;
}
#wrap-footer #footer .grid_4.suffix_1 {
	padding-left: 30px;
}
#copyright{
	margin-top:20px;
	color:#999;
}
#wrap-contact-form input[type="submit"] {
	margin-top: 18px;
	margin-left:0px;
}
#wrap-contact-form input[type="reset"]{
	 margin-left:15px;
}

#map {
	display: inline-block;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#map img{
	float: left;
	height: 300px;
	width: 460px;
}
#address {
	padding-left: 0px;
	font-weight: bold;
}
#address h3 {
	text-indent: 0px;
	font-weight:bold;
}
#address h4 {
	background-image: url(../images/icon-home-b.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-indent: 0px;
	padding-left: 35px;
}
#address h5 {
	background-image: url(../images/icon-phone.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 35px;
	font-size: 1em;
}
/*-----------form validate------------*/
label.error{
	color:#FFD400;
	margin-top:-10px;
	font-size:1.1em;
}

/*------------menu--------------*/
/* Structure
------------------------------------------*/
#top-nav,
#top-nav ul {
	list-style: none;
}
#top-nav {
	z-index:99999999;
	float: left;
	width:960px;
	position:absolute;
}
#top-nav > li {
	float: left;
}
#top-nav li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0.8em 1.5em;
	text-decoration: none;
}
#top-nav ul {
	position: absolute;
	display: none;
	z-index: 999;
}
#top-nav ul li a {
	width: 130px;
	padding:0.45em 1.2em;
}
#top-nav li:hover ul.noJS {
	display: block; 
}


/* Main menu
------------------------------------------*/
#top-nav {
	font-family: Arial;
	font-size: 12px;
	background: #100B4E;
}
#top-nav > li > a {
	color: #fff;
	font-weight: bold;
}
#top-nav > li:hover > a {
	background: #4b4782;
	color: #FFF;
}


/* Submenu
------------------------------------------*/
#top-nav ul {
	background: #4b4782;
}
#top-nav ul li a {
	color: #FFF;
}
#top-nav ul li:hover a {
	background: #7774A5;/**dropdown hover*/
}

.nav-title{
	margin-top:25px;
}
.nav-title ul 
{ 
	list-style-type: none;	
}
	
.nav-title ul li{
	display:block; 	
	font-weight:bold;
}
.nav-title ul li:first-child{
	background-image: url(../images/menu-dark-indicator.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 32px;
	display: block;
	text-decoration: none;
	float:left;
	font-size:1.12em;
}
.nav-title ul li:last-child{
	float:left;
	
}